<!DOCTYPE html>
<html>
<head>
	<title>Post Notice</title>
</head>
<body>
	<h1>Post Notice</h1>
	<form method="post">
		<label>Post id</label><br>
		<input type="text" name="postid"><br>
	<textarea id="" rows="4" cols="50">
    </textarea>
    <input type='submit' name='' value='Post'><br>
    </form>


</body>
</html>